<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>embed.li</title>
    <meta
      name="description"
      content="Embed your socials, with style"
    />
    <meta
      name="keywords"
      content="embed"
    />
    <meta name="robots" content="noindex" />
    <meta http-equiv="cache-control" content="no-store" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    <link rel="icon"
          href="{{ url_for('static', filename='assets/favicon.ico') }}"
          type="image/x-icon">
</head>
<body>
    <div class="css-top-stream"></div>

    <div class="headingContainer">
        <h2>Embed your socials, with style</h2>
    </div>

    <div id="notification" class="notification">
        <span id="notification-text"></span>
    </div>

    <div class="container">
        <h3 class="site-title">embed.li</h3>
        <div class="form-group">
            <input type="text" id="urlInput" placeholder="Enter URL">
        </div>
        <div class="form-group">
            <button id="submitButton">Submit</button>
        </div>
        <div id="loader">
            <div class="spinner"></div>
        </div>
        <div id="imageContainer">
            <img id="uploadedImage" alt="Uploaded Image">
        </div>
        <div id="embedContainer">
            <div style="display: flex !important; align-items: center; justify-content: space-around;">
                 <div id="embedCodeContainer">
                    <pre><code id="embedCode"></code></pre>
                </div>
                <img id="copyToClipboard"
                     src="{{ url_for('static', filename='assets/copy.png') }}"
                     width="30"
                     height="30"
                     alt="copy to clipboard"/>
                <span id="copyToClipboardSpan" style="display: none; margin-left: 5px;">Copied!</span>
            </div>
        </div>
    </div>

    <div id="container_text">
        <h3>Embed share buttons like these</h3>

        <div id="text_embed_container">
            <div style="margin: 20px; text-align: center; position: relative;">
                <img src=https://giffe.s3.amazonaws.com/gifs/edccbd81-5f1f-4567-bdea-6afbd92e6eb6.gif alt="GIF" style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" />
                <a href=https://twitter.com/karpathy target="_blank">
                    <img src=https://giffe.s3.ap-south-1.amazonaws.com/share_buttons/twiiter.svg
                         alt="Share"
                         style="position: absolute; width: 100px; height: 100px; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                </a>
            </div>
            <div style="margin: 20px; text-align: center; position: relative;">
                <img src=https://giffe.s3.amazonaws.com/gifs/3a28066c-a0ba-4f7f-be18-9fea6245c2e0.gif alt="GIF" style="width: 400px; height: 400px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" />
                <a href=https://www.instagram.com/joerogan/?hl=en target="_blank">
                    <img src=https://giffe.s3.ap-south-1.amazonaws.com/share_buttons/instagram.svg
                         alt="Share"
                         style="position: absolute; width: 100px; height: 100px; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                </a>
            </div>
        </div>
    </div>

    <div id="container_why">
         <div id="text_how_to_use">
            <h3>How to use embed.li?</h3>
            <p>1. Copy the link you want to embed into your website</p>
            <p>2. Paste the link in the box above</p>
            <p>3. Copy the embed code and you're on your way!</p>
        </div>

        <div id="text_why_embed">
            <h3>Why embed.li?</h3>
            <p>We help you create beautiful share buttons for your website</p>
            <p>This enables you to have a higher CTR on your share buttons</p>
        </div>

        <div id="text_reach_out">
            <p>if you tried embed.li and it returned a faulty embed code</p>
            <p>please email us the embed code from the clipboard and we'll try to fix it ASAP</p>
            <h4>email: embedli23@gmail.com</h4>
        </div>
    </div>

    <footer>
        <p>©️ 2023 embed.li All Rights Reserved</p>
    </footer>

     <div class="css-bottom-stream"></div>

     <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
